{% extends "attendance/base.html" %}
{% block content%}

<div class="container">

  <h1>About Attendance !</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h4>This is a WebApp specifically designed for a final year Skripsie at the University of Stellenbosch in October 2020.</h4>
      
    </li>
    <li class="list-group-item">
      <h3>Registering</h3>
      <p>
        Make sure your user name is your UT Number that appears on your university staff-access card (US-card).</p>
      <p>
        This number should appear on both the scanner and on this website. 
        Only you will have access to the attendance data you have uploaded.</p>

    </li>
    <li class="list-group-item">
      <h3>How to use the attendance scanner</h3>
      <p>1. First switch on the Scanner device and log in by simply scanning your US-card.</p>
      <p>2. Navigate to the 'Scan Cards' window to start a <em>Session</em> and let students scan their cards as they enter 
        the classroom. (As soon as the 'Scan Cards' window opens, you have started a new session. 
        When you press 'BACK' the session ends. Keep this in mind to help manage your sessions.)</p>
      <p>3. When you want to retreive the data, navigate to the 'Export' window on the Scanner device 
        and plug in a USB flash drive into the Scanner's USB port. Click on 'You can then take the 
        USB memory device to transfer the data to a computer with access to the SUCS 
        website. </p>
       
      
    </li>
    <li class="list-group-item">
      <h3>How to use the attendance scanner</h3>
      <p>1. Log in with your US-number (username) and password.</p>
      <p>2. Navigate to the Home page and select 'Upload Attendance'. Click on 'Choose File',
      then select the file exported by the Scanner device and click 'Upload'.</p>
      You will then be able to see the logs on the Home page. 
    </li>
    <li class="list-group-item">Dis Al.</li>
  </ul>

</div>
{% endblock content %}
        
